.path {
    color: #929191;
}

.art-manuf-detalle-section{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.art-manuf-detalle-container{
    display: flex;
    flex-direction: column;
    padding: 0rem 4rem;
    gap: 1rem;
    width: fit-content;
}

.articulo-detalle-container{
    display: flex;
    gap: 1rem;
}

@media (max-width:1360px) {
    .art-manuf-detalle-container{
        padding: 1rem 1rem;
    }
    .articulo-detalle-container{
        flex-direction: column;
    }

    .detalle-articulo-imagen-container {
        max-height: 300px;
        max-width: 300px;
    }

    .detalle-articulo-imagen-container img {
        width: 300px;
    }
}


.detalle-articulo-imagen-container {
    background-color: #F7F7F7;
    max-width: 600px ;
    height: 600px;
    padding: 2rem;
    display: grid;
    place-content: center;
}

.detalle-articulo-imagen-container img{
    max-width: 100%;
}


.detalle-articulo-info{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.detalle-articulo-info h1{
    font-size: 2rem;
    font-weight: 800;
}

.detalle-articulo-info p{
    color: #929191;
}

.articulo-info-subdiv{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid #F7F7F7;
}


.cantidad-unidades {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D9D9D9;
    width: fit-content;
    font-size: 1.5rem;
}


.cantidad-unidades span {
    padding: 0 1rem;
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
}


.cantidad-unidades button{
    border: none;
    cursor: pointer;
    background-color: white;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
}

.cantidad-unidades button:hover{
    background-color: #F7F7F7;
}

.cantidad-unidades button:active{
    background-color: #D9D9D9;
}




.cantidad-unidades-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.unidades{
    color: #E5030B;
}


.añadir-carrito-boton{
    cursor: pointer;
    width: 170px;
    height: 50px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: .75rem;
    border: 1px solid black;
    background-color: white;
    justify-content: center;
    transition: .1s ease;
}

.añadir-carrito-boton-subdiv{
    display: flex;
    align-items: center;
    gap: .75rem;
}

.añadir-carrito-boton:hover{
    background-color: black;
    color: white;
}

.añadir-carrito-boton:active{
    scale: 0.95;
}


.boton-agregado-carrito-detalle{
    width: 170px;
    height: 50px;
    background-color: green !important;
    border: 1px solid green !important;
    color: white !important;
    
}


.ir-atras {
    width: 85px;
    height: 32px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    gap: .25rem;
    transition: .1s ease;
    font-weight: 500;
}

.ir-atras:hover{
    scale: 1.05;
}

.ir-atras:active{
    scale: 1;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
  
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-top: 4px solid #E5030B;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.mensaje-validez{
    padding: 1rem;
    background-color: #e7868a;
    max-width: 350px;
    color: #b90208;
    border: 1px solid #b90208;
}