header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 8rem;
    border-bottom: 1px solid #EAECEC;
}


header nav a {
    text-decoration: none;
    color: black;
}

.navlink{
    width: fit-content;
    display: flex;
    align-items: center;
    gap: .2rem;
    padding: .5rem 1rem .5rem 1rem;
}

.navlink:hover{
    background-color: #EAECEC;
}

.navlink:active{
    background: #e6e6e6;
}


.navlink img{
    width: 15px;
    height: 15px;
}

.navlinks {
    display: flex;
    flex-direction: row;
}

nav{
    position: relative;
}

.navlinks-dropped {
    background-color: white;
    border: 1px solid #E6E6E6;
    position: absolute;
    top: 60px;
    left: -55px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 1;
}

nav{
    display: flex;
}

.dropdown-button{
    padding: .3rem;
    background-color: white;
    border: none;
    display: none;
}

.dropdown-button:hover{
    cursor: pointer;
    background-color:#EAECEC;
}


@media (max-width:700px) {
    .dropdown-button{
        display: block;
    }

    .navlinks {
        display: none;
    }

    header{
        padding: 2rem 2rem;
    }
    
}