footer{
    padding: 3rem 4rem;
    display: flex;
    justify-content: space-between;
    background-color:#E5030B;
    color: white;
    overflow: hidden;
    position: relative;
}

footer b {
    font-size: 1.5rem;
}



.descripcion-footer{
    width: 396px;
    font-family: SF Pro Display;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.section-empresa{
    display: grid;
}
.section-ayuda{
    display: grid;
    gap: 1rem;
}

.section-2 a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.section-2{
  display: flex;
  gap: 5rem;
}

.logobs{
    transform: rotateZ(-25deg);
    position: absolute;
    left: 37%;
    top: -80px;
    width: 500px;
}

.section-1{
    display: grid;
    gap: 1rem;
}

.logos{
    display: flex;
    gap:50px;
    padding-top: .5rem;
}

@media (max-width:900px) {
    footer b {
        font-size:1rem;
    }
    footer{
        gap: 1rem;
        padding: 1rem 1rem;
    }
    .section-1{
        gap: .5rem;
    }
    .descripcion-footer{
        max-width: 200px;
        font-size: .75rem;
        line-height: 15px;
    }
    .section-2{
        flex-direction: column;
        gap: 1rem;
    }
    .section-empresa, .section-ayuda{
        display: flex;
        flex-direction: column;
        gap: .2rem;
    }

    .section-empresa a, .section-ayuda a{
        display: flex;
        flex-direction: column;
        font-size: .75rem;
    }
    .logos{
        gap: 1rem;
    }
}



@media (max-width:1360px) {
    
    .logobs {
        display: none;
    }
}
